.col-info {
  padding: 0 !important;
}

.row-match-name {
  margin-bottom: 3%;
}

.div-match, .row-address{
  border: solid black 2px;
  padding-top: 3%;
}

.row-address {
  margin: 0 !important;
  padding: 3% 0%;
}
.map-iframe{
  width: 90%;
  height: 100%;
}

.col-map {
  display: flex;
  justify-content: center;
  padding: 0 !important;
}

.div-container-sport {
  margin-top: 10%;
  margin-bottom: 10%;
}

.div-match > p {
  margin-left: 10px;
}