.col-info {
  padding: 0 !important;
}

.row-match-name {
  margin-bottom: 15px;
}

.div-match-invite{
  border: solid black 2px;
  margin: 0 !important;
  padding: 15px 0;
}

.div-container-sport {
  margin-top: 10%;
  margin-bottom: 10%;
}

.div-match-invite > h6{
  margin-left: 10px;
}